/* #App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh
} */

@font-face {
  font-family: fira;
  src: url(./downloads/FiraSans-Regular.ttf);
}

@font-face {
  font-family: bebas;
  src: url(./downloads/BebasNeue-Regular.ttf);
}

body, html {
  background-position: center;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  font-family: Verdana;
  height: 100;
  width: 100;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  background-color: rgb(231, 230, 226);
}

#colorPicker {
  margin: 20px;
}

#layout {
  display: flex;
}

#Home {
  background-image: url(./downloads/clouds.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

#intro {
  height: 500px;
  width: 600px;
}

.color {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 15px;  
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.iconfill {
  background-size: contain;
  background-image: url(https://cdn1.iconfinder.com/data/icons/construction-tools-glyph-silhouettes/300/225846415Untitled-3-512.png);
  height: 80px;
  width: 80px;
}

#Users{
  display: grid;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
  position: relative;
}

.User {
  margin: 20px;
  display: grid;
  background-color: #777574;
  padding: 20px;
  width: 100;
  height: 320px;
  box-sizing: inherit;
  position: relative;
  max-width: 900px;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg{
  background-color: whitesmoke;
  /* padding: 20px; */
  border: none;
  display: grid;
  grid-template-columns: 60% 40%;
  border-top-right-radius: 50% 100%;
  bottom: 0;
}

.userName {
  font-weight: bold;
  font-size: larger;
  line-height: 1.5em;
}

.userJob {
  font-variant: small-caps;
  padding-bottom: .5em;
}

header {
  display: grid;
  grid-template-columns: 50% 50%;
  position: fixed;
  width: 100%;
  padding-left: 15px;
  color: white;
  top: 0;
  height: 50px;
  background-color: rgb(31, 31, 31);
  z-index: 1;
  font-family: fira;
  /* box-shadow: 10x px 10px rgb(105, 93, 93); */
}

#navcontainer{
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  /* position: relative; */
}

#navcontainer > * {
  display: inline-block;
  padding-left:20px;
}

h2{
  font-family: bebas;
  font-weight: 400;
  font-size: 24pt;
  line-height: .2em;
}

#page {
  display: block;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

#mainContainer {
  position: relative;
  top: 60px;
}

#colorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#apiInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hexColor {
  width: 141px;
  padding-left: 8px;
  height:25px;
  font-family: MR;
  border: none;
}

#colorBtn {
  height: 30px;
  width: 151px;
  font-family: Verdana;
  margin-left: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.colorGrid {
  display: grid;
  grid-template-columns: 55% 45%;
  width: 375px;
  height: 35px;
  align-items: center;
  margin: 5px;
  font-family: Verdana;
}

#modeSelect {
  height: 30px;
  width: 175px;
  font-family: Verdana;
  padding-left: 3px;
  padding-right: 3px;
  border: none;
}

#layout {
  margin: 30px;
}

.peepbtns {
  font-family: bebas;
  width: 100px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  font-size: 12pt;
  letter-spacing: .25em;
  padding: 10px;
}

#btnback {
  position: absolute;
  bottom: 0;
}

#newbtn {
  position: absolute;
  left: 120px;
  bottom: 0;
}

.peepbtns:hover {
  cursor: pointer;
  color: rgb(115, 113, 113);
}

/* .personCard {

} */

.avatar {
  height: 250px;
  border-radius: 50%;
}