/* #App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh
} */

@font-face {
  font-family: fira;
  src: url(./downloads/FiraSans-Regular.ttf);
}

@font-face {
  font-family: bebas;
  src: url(./downloads/BebasNeue-Regular.ttf);
}

body, html {
  background-position: center;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  font-family: Verdana;
  height: 100;
  width: 100;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  background-color: rgb(231, 230, 226);
}

#colorPicker {
  margin: 20px;
}

#layout {
  display: flex;
}

#Home {
  background-image: url(./downloads/clouds.png);
  background-position: top 35%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

#intro {
  height: 500px;
  width: 600px;
}

/* #page {
  display: block;
  color: white;
} */



#mainContainer {
  position: relative;
  top: 60px;
}

.article {
  display: inline-block;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background-color: rgb(31, 31, 31);
  color: white;
  margin-top: 100px;
  text-align: center;
  font-family: bebas;
}

#aboutArticles {
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
}

.article {
  display: grid;

}